[Search | Kaggle](https://www.kaggle.com/search?q=flight+price+prediction+in%3Adatasets)
[Flight Price Prediction](https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction/data?select=Clean_Dataset.csv)
[FlightPriceRegression](https://www.kaggle.com/code/amineipad/flightpriceregression)

In [1]:
import numpy as np
import pandas as pd

# 2. LOAD DATA
df = pd.read_csv("work_from_home_burnout_dataset.csv")

df.head(20)

,user_id,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score,burnout_risk
0,1,Weekday,9.59,11.86,4,2,0,7.55,91.2,19.17,Low
1,1,Weekend,7.38,10.33,4,1,0,6.69,82.0,29.70,Low
2,1,Weekend,6.31,8.92,1,2,0,8.87,80.6,32.93,Low
3,1,Weekday,8.34,10.70,4,1,1,8.13,70.0,45.47,Low
4,1,Weekend,6.97,9.83,1,2,0,5.85,67.1,51.61,Low
5,1,Weekday,7.24,9.09,1,4,0,7.53,69.1,54.16,Low
6,1,Weekday,8.09,11.64,6,3,1,5.04,58.4,68.83,Low
7,1,Weekday,7.15,9.98,3,4,0,5.89,46.9,78.89,Medium
8,1,Weekday,8.72,11.80,1,2,0,6.19,49.8,84.39,Medium
9,1,Weekend,5.93,9.17,0,4,0,7.88,55.6,83.86,Medium
10,2,Weekend,3.00,6.81,3,5,1,7.49,84.2,17.37,Low
11,2,Weekday,7.96,11.25,3,3,0,6.23,98.3,14.76,Low
12,2,Weekend,5.05,7.38,0,5,0,5.76,84.5,20.89,Low
13,2,Weekend,3.79,6.12,3,1,1,5.81,90.3,20.52,Low
14,2,Weekend,4.69,7.09,1,5,1,7.92,85.8,23.10,Low
15,2,Weekend,3.00,5.05,0,3,1,7.75,85.1,23.44,Low
16,2,Weekday,6.49,9.60,3,1,0,7.37,79.0,28.23,Low
17,2,Weekday,10.04,11.83,3,3,1,7.60,80.7,31.62,Low
18,2,Weekend,3.12,5.08,0,4,0,6.65,77.3,32.60,Low
19,2,Weekday,6.83,8.81,7,5,0,6.03,74.4,36.70,Low

In [76]:
columns = ['user_id', 'burnout_risk']
for column in columns:
    if column in df.columns:
        df = df.drop(column, axis=1)

print("Data Shape:", df.shape)
display(df.sample(5))

Data Shape: (1800, 9)

,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score
1345,Weekday,9.85,12.90,2,1,0,7.14,84.4,28.98
274,Weekend,3.35,5.67,0,2,1,7.00,72.4,52.26
765,Weekend,3.00,5.81,0,5,0,5.82,92.8,20.97
1299,Weekend,3.54,7.22,1,5,0,7.36,40.0,125.89
683,Weekend,4.55,7.39,1,3,1,5.01,70.7,44.62

In [77]:
df['task_completion_rate'] = np.where(
    df['task_completion_rate'] > 100,
    df.loc[df['task_completion_rate'] <= 100, 'task_completion_rate'].mean(),
    df['task_completion_rate']
)

df

,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score
0,Weekday,9.59,11.86,4,2,0,7.55,91.2,19.17
1,Weekend,7.38,10.33,4,1,0,6.69,82.0,29.70
2,Weekend,6.31,8.92,1,2,0,8.87,80.6,32.93
3,Weekday,8.34,10.70,4,1,1,8.13,70.0,45.47
4,Weekend,6.97,9.83,1,2,0,5.85,67.1,51.61
...,...,...,...,...,...,...,...,...,...
1795,Weekend,6.33,8.16,0,4,0,5.59,73.5,31.91
1796,Weekend,4.70,7.88,0,4,0,6.69,89.8,26.30
1797,Weekend,3.92,6.39,2,1,0,6.77,74.6,34.07
1798,Weekday,8.93,11.11,2,5,0,8.28,74.6,38.14
1799,Weekend,4.38,6.72,0,1,0,7.13,70.7,40.76

In [78]:
df.to_csv("clean.csv", index=False)

In [ ]:
df['day_type'].unique().tolist()

In [ ]:
# 3. PREPROCESSING
# 3.1 Encoding Ordinal Variables (Manual Mapping)
# 'day_type': Weekend -> 0, Weekday -> 1
if df['day_type'].dtype == object:
    df['day_type'] = df['day_type'].map({'Weekend':0, 'Weekday':1})

df.sample(8)

In [ ]:
df.info()

In [ ]:
df.describe()

### Handling Missing Values

In [ ]:
null_summary = pd.DataFrame({
    'Missing_Count': df.isnull().sum(),
    'Missing_Percentage': (df.isnull().sum() / len(df)) * 100
})

print(null_summary)

### Handling Duplicated Values

In [ ]:
df.duplicated().sum()

In [ ]:
df['task_completion_rate'] = np.where(
    df['task_completion_rate'] > 100,
    df.loc[df['task_completion_rate'] <= 100, 'task_completion_rate'].mean(),
    df['task_completion_rate']
)

In [ ]:
import matplotlib.pyplot as plt

for column in df.select_dtypes(include='number').columns:
    plt.figure()
    # plt.boxplot(df[column].dropna())
    plt.hist(df[column].dropna())
    plt.title(f'Boxplot of {column}')
    plt.show()

In [ ]:
# 1. Calculate correlation for all numeric columns
corr_matrix = df.corr(numeric_only=True)
# 2. Isolate the correlation with the target 'churned'
# We sort the values to make the heatmap easier to read
burnout_score_corr = corr_matrix[['burnout_score']].sort_values(by='burnout_score', ascending=False)

burnout_score_corr

In [ ]:
# # Input-Target 
X = df.drop(['burnout_score'], axis=1)
y = df[['burnout_score']]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler_X = MinMaxScaler(feature_range=(0, 1))
scaler_y = MinMaxScaler(feature_range=(0, 1))

In [ ]:
# Scale X
X_scaled = pd.DataFrame(scaler_X.fit_transform(X), columns=X.columns)

# Scale y
y_scaled = pd.DataFrame(scaler_y.fit_transform(y), columns=['price'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.2, random_state=42)

# Flatten y for models
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

In [ ]:
# 6. MODEL TRAINING (Linear Regression)
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("   MODEL EVALUATION METRICS")
print("   (Data Scaled 0-1)")
print(f"R2 Score (Accuracy): {r2:.4f}")
print(f"MAE (Normalized):    {mae:.4f}")
print(f"MSE (Normalized):    {mse:.4f}")
print(f"RMSE (Normalized):   {rmse:.4f}")